<!--Bookmarks-->
<div class="row">
  <div class="col-md-8">
    <div class="cards mx-3">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="show-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.squarespace-cdn.com/content/v1/5ab43e2c96e76f77f5028a53/1521927701322-SKLIYPHDLER5F0VVMQGZ/DE8742C1-2ED5-4BF0-BB4A-A197AB27A70F.png)">
          <%= bookmark.movie&.title %>
          <%# <%= bookmark.movie.overview %>
          <br>
          <%# <%= bookmark.comment %>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'bookmarks/bookmarkform', list: @list, bookmark: @bookmark %>
</div>
<!--Reviews Section-->
<div class="row">
  <!-- Left column: Reviews list -->
  <div class="col-md-8">
    <% @list.reviews.each do |review| %>
      <div class="review-card">
        <%= review.content%>
      </div>
      <%# <%= bookmark.movie.overview %>
      <%# <%= bookmark.comment %>
    <% end %>
  </div>
  <!-- Right column: Review form -->
  <%= render 'reviews/reviewform', list: @list, review: @review %>
</div>
